/*

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(firewatch.jpg);
  background-size: cover;
  background-position: top;

  color: #ccd8e1;
  text-shadow: 4px 4px 9px rgba(102, 137, 165, 0.6);
}

.hero-text-box {
  max-width: 70rem;
  margin: 0 auto;
  padding: 9rem 3.2rem;
  text-align: center;
}

.heading-primary {
  font-size: 5.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heading-description {
  font-size: 3.2rem;
  font-weight: 500;
}

.section-content {
  background-color: #ccd8e1;
  padding: 9.6rem 0;
  color: #000;
}

.container {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0 3.2rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.container h2 {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.container h3 {
  font-size: 3.6rem;
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
  line-height: 1.2;
}

.container p {
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 32em) {
  html {
    font-size: 56.25%;
  }
}
